{
    "printWidth": 140,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "overrides": [
        {
            "files": "*.sol"
        },
        {
            "files": "*.js",
            "options": {
                "trailingComma": "all"
            }
        },
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
