name: Testing

on:
  - pull_request

jobs:
  test:
    strategy:
      matrix:
        node-version:
          - 18.x
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Dependencies
        run: npm ci

      - name: Build project and capture output
        run: npm run build > build.log 2>&1

      - name: Check for build errors
        run: |
          if grep -q -i "error" build.log || grep -q -i "warning" build.log; then
            echo "Build contains following errors or warnings..."

            cat build.log

            exit 1
          else
            exit 0;
          fi

      - name: Set environment variable
        run: export CHECK_CONTRACT_SIZE=true

      - name: Test
        run: npm run test
