name: Testing

on:
  - pull_request

jobs:
  test:
    strategy:
      matrix:
        node-version:
          - 18.x
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Dependencies
        run: npm ci

      - name: Set environment variable
        run: export FAIL_COMPILE_IF_SIZE_EXCEEDS=true

      - name: Test
        run: npm run test
